@import "../../colors.css";

footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  padding: 0px;
  margin-bottom: 0px;
  background-color: #223d83;
}

footer p {
  color: white;
  text-align: end;
  padding: 10px;
}

.div_p {
  width: 67vw;
}

.contanier_redes_sociais {
  width: 25vw;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
  margin-right: 0px;
}

.contanier_redes_sociais a img {
  width: 32px;
  height: 32px;
}
